@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.content1 {
    border: 1px solid black;
    height: auto;
    min-height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(5, 5, 35);
}

.content1>.con1 {
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
    gap: 10px;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: flex-start;

    p1 {
        font-size: clamp(12px, 2vw, 18px);
    }

}

.content1>.con2 {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    color: white;

    font-size: 19px;
    font-weight: 600;

    button {
        color: white;
        font-size: 20px;
    }

    p {
        margin-top: 10px;
    }

    .con21 {
        display: flex;
        gap: 30px;
        align-items: center;
    }
}

@media (width<=806px) {
    .content1 {

        button,
        ul {
            display: none;
        }
    }
}

@media (width<=684px) {
    .content1>.con2 {
        .follow {
            display: none;
        }
    }
}

@media(width<=574px) {
    .content1>.con1 {
        width: 100%;
        justify-content: center;
    }

    .content1>.con2 {
        width: 100%;
        justify-content: center;
    }
}

.navbar {
    border: 1px solid #e3f2fd;
    background-color: white;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.fa-magnifying-glass,
.fa-cart-shopping {
    font-size: 18px;
    cursor: pointer;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar .nav3 {
    justify-content: flex-end;
    gap: 20px;
    flex-grow: 0;

    button {
        background-color: blue;
        padding: 10px 30px;
        border-radius: 30px;
        border-color: transparent;
        font-size: 20px;
        color: white;
        font-weight: 500;
    }
}

/* Responsive fix for smaller screens */
@media (max-width: 768px) {
    .navbar {
        border-radius: 0;
        box-shadow: none;
    }

    .navbar-nav {
        text-align: center;
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        display: block;
        padding: 10px;
    }
}

@media(width<=541px) {
    .navbar .nav3 {
        display: none;
    }
}

@media(width<=351px) {
    .navbar .gap-4 .glass {
        display: none;
    }
}

.content2 {
    background-image: url(group2.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 550px;
    border: 1px solid;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .p1 {
        color: white;
        font-size: clamp(24px, 6vw, 80px);
        font-weight: 800;
        font-family: "PT Serif", serif;
    }

    .p2 {
        color: white;
        font-size: 25px;
    }

}

.content2::after {
    content: ' ';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: linear-gradient(270.07deg, #002B98 0.07%, #00060C 99.95%);
    opacity: 0.75;
}

.content2::before {
    content: url(backblue.png);
    max-width: 100%;
    height: auto;
    left: 0;
    position: absolute;
}

.content3 {
    height: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

/* Common card styles */
.content3>div {
    flex-basis: 30%;
    height: 450px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Individual backgrounds */
.content3 .con1 {
    background-image: url(group3.jpg);
}

.content3 .con2 {
    background-image: url(security.jpg);
}

.content3 .con3 {
    background-image: url(jarvis.jpg);
}

.content3 .con4 {
    background-image: url(coffee.jpg);
}

.content3 .con5 {
    background-image: url(team.jpg);
}

.content3 .con6 {
    background-image: url(simple.jpg);
}

/* Inner white boxes */
.content3 .con11,
.content3 .con12,
.content3 .con13,
.content3 .con14,
.content3 .con15,
.content3 .con16 {
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Text styling (with clamp for responsiveness) */
.content3 .p1 {
    color: #002B98;
    font-weight: 500;
    font-size: clamp(14px, 1.8vw, 18px);
}

.content3 .p2 {
    font-weight: 700;
    font-size: clamp(18px, 2.5vw, 25px);
}

/* Hover transitions */
.content3 .con11:hover,
.content3 .con12:hover,
.content3 .con13:hover,
.content3 .con14:hover,
.content3 .con15:hover,
.content3 .con16:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #002b98b1;
}

/* Hover side animation */
.content3 .con11::before,
.content3 .con12::before,
.content3 .con13::before,
.content3 .con14::before,
.content3 .con15::before,
.content3 .con16::before {
    content: '';
    background-color: #002B98;
    position: absolute;
    left: 0;
    top: 10;
    width: 2%;
    height: 50%;
    z-index: -1;
    transition: 1s;
}

.content3 .con11:hover::before,
.content3 .con12:hover::before,
.content3 .con13:hover::before,
.content3 .con14:hover::before,
.content3 .con15:hover::before,
.content3 .con16:hover::before {
    height: 100%;
}

/* Responsive layout adjustments */
@media (max-width: 1024px) {
    .content3>div {
        flex-basis: 45%;
        height: 380px;
    }
}

@media (max-width: 768px) {
    .content3 {
        padding: 20px;
        gap: 20px;
    }

    .content3>div {
        flex-basis: 100%;
        height: 320px;
    }
}

.content71 {
    margin-top: 20px;
    height: auto;
    width: auto;
    min-height: 350px;
    background-color: red;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 95);
}

.content7 {
    height: 80%;
    width: 80%;
    min-height: 200px;
    background-color: blue;
    display: flex;
    border-radius: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content7 div {
    gap: 15px;
}

.content7 {

    .con1,
    .con2,
    .con3 {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        align-items: center;
        flex-grow: 1;
        gap: 10px;


        i {
            font-size: 30px;
            background-color: white;
            color: blue;
            padding: 30px;
            border-radius: 50%;

        }

        .con11,
        .con12,
        .con13 {
            display: flex;
            flex-direction: column;
            height: auto;
            flex-grow: 1;


            .p1 {
                font-size: 18px;
            }

            .p2 {
                font-size: clamp(12px, 4vw, 20px);
                font-weight: 600;
                font-family: "PT Serif", serif;
                width: auto;
            }
        }
    }

}

.content6 {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(11, 11, 95);
}

.content6 div {
    height: 350px;
    width: 300px;

}

.content6 {
    .con1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        img {

            align-self: flex-start;
        }

        p {
            font-size: 18px;
        }

        .social {
            height: auto;
            width: auto;
            display: flex;
            gap: 20px;

            a {
                padding: 10px 15px;
                border: 1px solid white;
                color: white;
            }

            a:hover {
                background-color: blue;
            }
        }
    }

    .con2 {
        display: flex;
        flex-direction: column;

        p {
            font-size: 25px;
            font-weight: 700;
            flex-grow: 0;
        }

        ul {
            flex-grow: 1;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            list-style: '⇄   ';

        }
    }

    .con3 {
        .p1 {
            font-size: 25px;
            font-weight: 700;
            flex-grow: 0;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;

        .con31 {
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                border-radius: 10px;
            }

            .con311 {
                height: auto;
                width: auto;

                p {
                    font-size: 17px;
                    font-weight: 500;
                }
            }

        }
    }

    .con4 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        .p1 {
            font-size: 25px;
            font-weight: 700;
            flex-grow: 0;
        }

        div {
            height: auto;
            width: auto;
            font-size: 18px;
        }

        .con43 {
            position: relative;

            input {
                padding: 15px 30px;
                background-color: white;
                border-radius: 10px;
                border-color: transparent;

            }

            input::placeholder {
                color: red;
            }

            button {
                border-radius: 1px solid;
                background-color: blue;
                padding: 10px 20px;
                border-radius: 10px;
                position: absolute;
                right: 50px;
                top: 5px;

            }
        }
    }
}

.content8 {
    height: auto;
    padding: 15px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, 0.77);
    color: white;
    font-weight: 500;
    font-size: clamp(12px, 2vw, 19px);
    /* responsive font size */
    text-align: center;
}

.content8 .con1 p::before {
    content: '© ';
    font-size: clamp(16px, 3vw, 25px);
    /* responsive symbol size */
}

.content8 .con2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.content8 div {
    flex: 1 1 300px;
    /* allows flexible width */
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {

    .content8 .con2 {
        display: none;
    }
}
/*Animation Part*/

.autoScale{
    animation: autoScaleAni both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}
@keyframes autoScaleAni {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}